
@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="app">
<head>
    @{
        var basePath = ((System.Web.HttpRequestWrapper)this.Request).ApplicationPath;
        basePath = basePath == "/" ? "" : basePath;
    }
    <base href="@basePath" />
    @RenderSection("head", false)
    <script>
        window.appPath = "@basePath";
    </script>
</head>
<body>
    @RenderBody()
    @RenderSection("foot", false)
</body>
</html>
<script>
    document.addEventListener("error", function (e) {
        var elem = e.target;
        console.log(elem);
        if (elem.tagName.toLowerCase() === 'img') {
            var err = $(elem).attr("erred");
            if (err == 1) { return; }
            elem.src = window.appPath+ $(elem).attr("src");
            $(elem).attr("erred","1");
        }
    }, true);
    //window.onerror = function () {
    //    alert("onerror");
    //}
    //$(function () {
    //    if ($("#test").attr("src").indexOf(window.appPath)<0) {
    //        $("#test").attr("src", window.appPath+$("#test").attr("src"))
    //    }
    //})
    
</script>

