@using System.Web.Optimization
@{
    Layout = null;
    var path = Request.Path.ToLower();
}
<!DOCTYPE html>
<html ng-app="syspages">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width" />
    <title ng-bind="$enterpriseName + ' BPM系统'"></title>
    <base href="/" />
    @Styles.Render("~/SysPages/Css")
    <link href="~/Content/Style/zui-icon.css" rel="stylesheet" />
    <script src="~/Account/Permissions" type="text/javascript"></script>
</head>
<body class="@Html.Raw(ViewBag.hasSubMenu!=null&&ViewBag.hasSubMenu==true?"with-submenu":"no-submenu")">
    <div class="menu-fold">
        <label>
            <i class="icon-angle-left"></i>
            <i class="icon-angle-right"></i>
        </label>
    </div>
    <div class="left-menu">
        @Html.Action("RenderMenu", "Shared")
    </div>
    @Scripts.Render("~/SysPages/js")
    <div class="page-main">
        @RenderBody()
    </div>
    <script src="/Account/Permissions" type="text/javascript"></script>
    <script src="~/Content/Scripts/menu.js"></script>
    <script type="text/javascript">
        if (typeof (loadModule) === "function") {
            loadModule();
        }
    </script>
</body>
</html>

