@using System.Web.Optimization
@using MiniAbp.Extension;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Func<object, string> format = (o) => { return o.SerializeJsonCamelCase(); };
}
@model Sl.Bpm.Repository.Dto.AppPageResultDto
@section head
{
    <link rel="icon" type="image/gif" href="../../Content/Images/AppTitle.png">
    <title>@Model.Page.PageName</title>
    @Styles.Render("~/SysPages/Css")
}

<body ng-controller="PageCtrl as vm">
    <h2 id="pageTitle">@Model.Page.PageName</h2>
    <div class="form-container page_content entire-block contenter-box-x">

        <!--此处会加载表单内容-->
    </div>
    <script src="/Shared/Permissions " type="text/javascript"></script>
    @Scripts.Render("~/SysPages/Js")
    <script type="text/html" id="pcHtml">
        @Html.Raw(Model.Page.PcHtml)
    </script>
    <script type="text/javascript">
        //新页面中打开显示标题
        if (self == top) {
            $("#pageTitle").show();
        }
        angular.module('app', ['mabp', 'app.shared', 'pascalprecht.translate'])
            .config([
                '$translateProvider', function ($translateProvider) {
                    $translateProvider.translations('en', mabp.localization['Bpm.en']);
                    $translateProvider.translations('zh-CN', mabp.localization['Bpm.zh-CN']);
                    $translateProvider.preferredLanguage('zh-CN');
                }
            ]).controller('PageCtrl',
            [
               '$scope', 'formHelper', 'viewDialog', '$rootScope', '$timeout', '$pageDialog', 'mabp.app.file','$interval',
                function ($scope, formHelper, viewDialog, $rootScope, $timeout, $pageDialog, fileSv, $interval) {
                    window.parent.postMessage({ message: "tryToLogin" }, "*");
                    var vm = this;
                    vm.isLoaded = false;
                    //初始化容器对象
                    var base = $scope.base = {
                            $queryString:  @(Html.Raw(format(Model.QueryString))),
                            $loaded: @(Html.Raw(format(Model.Loaded))),
                            pageId: '@Model.Page.Id',
                            html: @(Html.Raw(format(Model.Page.PcHtml))),
                            js: @(Html.Raw(format(Model.Page.PcController))),
                            fileName: '@Model.Page.FileName',
                            title: '@Model.Page.PageName',
                            basicAndViewData: {}, //初始加载视图和基础数据
                            aliasTables: [ @Html.Raw(Model.Page.AliasTables != null ? "'" + string.Join("','", Model.Page.AliasTables.Select(r=>r.AliasName).ToArray()) + "'" : "null")], //页面涉及的表别名
                            currentUserId: window.$currentUser.id, //当前用户Id
                            currentUser: window.$currentUser, //当前用户Id
                            //areaCode: pageInfo.areaCode,
                            $pageLang: mabp.localization['Bpm.' + app.language], //系统多语言信息 参考 /App_Start/Localization
                            language: app.language, //页面当前语言
                            ruleL: _shared.languageSetting.defaultRules[app.language],//静态多语言设置 参考App/_shared/language/languageSetting.js
                            close: function () { window.$close(); },
                            $viewDialog: viewDialog, // 手动调用视图弹窗
                    };

                    var form = $scope.form =  {
                        filter: null,
                        exactFilter: null,
                        $pageSizeList: [5, 10, 20, 50, 100],
                        $pageRight: {}, //页面权限
                        $pageLang: {}, //页面多语言
                        $errors: [], //页面错误信息 // {element, id: , msg:}
                        $timeout: $timeout, //页面错误信息 // {element, id: , msg:}
                        //$watch: function (variable, callbackFunc) { $scope.$watch(variable, callbackFunc); }, //传递watch方法
                        $watch: function (variable, callbackFunc, deepWatch) { $scope.$watch(variable, callbackFunc, deepWatch); }, //传递watch方法
                        $load: function (code) {
                            formHelper.initBasicData(base, form, code);
                        },
                        $checkAll: function (ischecked, items) {
                            if (!!items && items.length > 0) for (var i = 0; i < items.length; i++) items[i].checked = !!ischecked;
                        },//明细表全选
                        $select: function (code) {
                            form[code].paging.currentPage = 1;
                            formHelper.initBasicData(base, form, code);
                        },
                        $clear: function (code) {
                            form[code].filter = null;
                            form[code].exactFilter = null;
                            formHelper.initBasicData(base, form, code);
                        },
                        $save: function (item) {
                            formHelper.prepaddareBasicDataAndExecute(item, form);
                        },
                        $delete: function (item) {
                            formHelper.deleteBasicData(base,item, form);
                        },
                        $edit: function (dialogName, item,callBack,size) {
                            form.$openDialog(dialogName, item, callBack, { size: size||"lg"});
                        },
                        $sort: function (col, asc, code) {
                            var _asc = form.paging.ascending === "true" ? "ASC" : "DESC";
                            form[code].paging.orderByProperty = form[code].paging.orderByProperty + " " + _asc + "," + col;
                            form[code].paging.ascending = asc;
                            form.$load(code);
                        },
                        $openDialog: function (fileName, param, callBack, config) {
                            $pageDialog.open(fileName, $scope.base, $scope.form, param, callBack, config);
                        },
                        $confirm: mabp.message.confirm,//<内容>,<标题>,<回调方法>
                        $toast: function (msg) { mabp.notify.error(msg); },
                        $export: function () {
                            formHelper.downloadBasicData(base, form);
                        },
                        $column: [],
                        $columnText: [],
                        $getView: function (dataView, filter, isRefresh, paging, func) {
                            sv.initReportTable(dataView, filter, isRefresh, paging, func, form);
                        }, //后台获取视图信息
                        $interval: $interval,
                        $exportExcel: function (dataView, filter, orderBy, ascending) {
                            sv.pagingExport = {};
                            sv.pagingExport.orderByProperty = orderBy;
                            sv.pagingExport.ascending = ascending || false;
                            sv.pagingExport.pageSize = 2147483647;
                            sv.pagingExport.currentPage = 1;
                            fileSv.downloadView({ code: dataView, filters: mabp.toArray(filter), pageInput: sv.pagingExport }, { responseType: 'blob' });
                        }
                    };
                    // 初始化多语言设置
                    var pageLanguages = @(Html.Raw(format(Model.PageLang)));
                    for (i in pageLanguages) {
                        //大写
                        form.$pageLang[i.upperFirst()] = pageLanguages[i];
                        //小写
                        form.$pageLang[i] = pageLanguages[i];
                    }

                    //初始化表单对象
                    formHelper.pageStart2(base, form, $scope, $rootScope);

                }
            ]);
    </script>
</body>
